@using CarInsurance.Models
@model List<Table>

<div class="row no-gutters m3">
  <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
    <div class="card-header text-center">
      <h5 class="m-0">Quotes</h5>
    </div>
    <div class="card-body">
      @foreach (var insuree in Model)
      {
          <input type="hidden" name="Id" value="@insuree.Id" />
          
          <div class="row">
            <div class="col mb-2">
              @insuree.FirstName
            </div>
            <div class="col ">
              @insuree.LastName
            </div>
            <div class="col mb-4">
              @insuree.EmailAddress
            </div>
            <div class="col mb-4">
              @insuree.Quote
            </div>
          </div>
      }
    </div>
  </div>
</div>